/* @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"); */

@import url("https://fonts.googleapis.com/css?family=Inter:300|Neuton:400,700|Roboto:400,700|Darker+Grotesque:500");

/* @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"); */

@import url("https://fonts.googleapis.com/css?family=Inter:300|Neuton:700|Darker+Grotesque:500|Roboto:400,700|Nunito:400");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css");

body {
  background: #16181b !important;
  color: #fff !important;
}

.screen a {
  display: contents;
  text-decoration: none;
}
a {
  text-decoration: none !important;
}

/* .PageCenter {
  display: flex;
  flex-direction: row;
  pointer-events: none;
  width: 100%;
}

.PageCenter > * {
  flex-shrink: 0;
  pointer-events: auto;
} */

input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
