.cinema-info-page {
  background: url(../../static/img/backgroundImage.png) center center no-repeat;
  background-size: cover;
  margin-top: -50px;
  padding-top: 40px;
}

.cinema-info-logo {
  width: 80%;
  margin-bottom: 50px;
  padding-right: 30px;
}

.cinema-info-logo-vox {
  width: 50%;
  margin-bottom: 100px;
}

.cinema-info-title {
  margin-bottom: 30px;
}

.about-cinema {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 50px;
}

.cinema-location {
  margin-bottom: 20px;
  color: white;
  display: flex;
  gap: 10px;
}

.cinema-location p {
  font-size: 20px;
}

.cinema-location-icon path {
  stroke:  var(--cardinal);
}

@media only screen and (max-width: 768px) {

  .cinema-info-logo-Container{
    text-align: center;
  }

  .cinema-info-logo {
    width: 250px;
    height: 150px;
  }

  .cinema-info-logo-vox {
    width: 150px;
    height: 250px;
  }

  .about-cinema,
  .cinema-location,
  .cinema-location p {
    font-size: 15px;
  }
}
