.cinemas-page {
  background: url(../../static/img/backgroundImage.png) center center no-repeat;
  background-size: cover;
  margin-top: -50px;
  padding-top: 40px;
}
.cinema-box {
  color: white;
  background-color: var(--shark);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  padding: 50px 20px 50px 20px;
  height: 100%;
  margin: auto;
}
.cinema-logo {
  width: 100%;
}
.cinema-logo-vox {
  width: 35%;
}
.cinema-description {
  text-align: justify;
  min-height: 450px;
}
.read-more-btn {
  font-family: var(--font-family-roboto);
  font-size: 23px;
  font-weight: 400;
  background-color: var(--cardinal);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  border:none;
}

.read-more-btn:hover {
  color: var(--white);
  transform: translate(0,-5px) !important;
}


@media only screen and (min-width: 1024px) {
  .cinema-logo-box{
    width: 200px;
    height: 50px;
    /* margin-left: 55px; */
    margin:auto;
    margin-bottom: 30px;
    margin-top: 20px;
    align-items: center;
    align-self: center;
    display: flex;
  }
  .read-more-btn-box{
    width: 166px;
    height: 50px;
    align-items: center;
    align-self: center;
    display: flex;
    bottom: 0px;
    margin-top: 10px;
    align-content: center;
    margin:auto;
  }
  .cinema-description {
    margin-bottom: 100px;
    margin-top: 0px;
    align-items: center;
    align-self: center;
  }
}

@media only screen and (max-width: 768px) {
  .cinema-description {
    min-height: inherit;
  }
  .read-more-btn {
    font-size: 18px;
  }
  .cinema-logo {
    width: 70%;
  }
  .cinema-logo-vox {
    width: 25%;
  }
}

@media only screen and (max-width: 480px) {
  .cinema-logo {
    width: 60%;
  }
  .cinema-box {
    font-size: 15px;
    width: 80%;
  }
  .read-more-btn {
    font-size: 15px;
  }
}
