.fireIconBox {
  display: flex;
  align-items: center;
  margin-bottom: -80px;
}
.mainTitle{
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 50px;
  font-weight: 400;
}
.fireIcon10 {
  width: 70px;
  margin-left: -55px;
  margin-top: -30px;
  z-index: -1;
}

.autoPlayMoviePoster {
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 30px;
  width: 95%;
  height: 350px;
  margin: auto;
}

.autoPlayMoviePoster:hover {
  transform: translate(0, -1px);
}

@media only screen and (max-width: 768px) {
  .mainTitle {
    font-size: 36px;
  }
  .fireIcon10{
    width: 50px;
    margin-left: -40px;
    margin-top: -25px;
  }
}

@media only screen and (max-width: 480px) {
  .mainTitle {
    font-size: 25px;
  }
  .fireIcon10 {
    width: 40px;
    margin-left: -30px;
    margin-top: -25px;
  }
}

