.review-page {
  background: url(../../static/img/backgroundImage.png) center center no-repeat;
  background-size: cover;
  margin-top: -50px;
  padding-top: 40px;
}

.write-review {
  background-color: #c4c4c499;
  color: var(--white);
  border: 0px;
  font-family: var(--font-family-nunito);
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 50px;
  border-radius: 20px;
  height: 290px;
  width: 80%;
  text-align: left;
  resize: none;
}

.write-review::placeholder {
  color: #ffffff99;
}

.write-review:focus {
  outline: none !important;
  border-color: #c4c4c499;
}

.review-submit-btn {
  background-color: var(--cardinal);
  color: var(--white);
  border-radius: 10px;
  font-family: var(--font-family-roboto);
  font-size: 25px;
  font-weight: 600;
  border: none;
  padding: 10px 40px;
  margin-top: 30px;
}

.review-submit-btn:disabled {
  background-color: var(--cardinal);
  opacity: 40%;
  cursor: not-allowed;
}

.review-submit-btn:hover {
  transform: translate(0, -5px);
}


@media only screen and (max-width: 400px) {
  .write-review {
    font-size: 10px;
    padding: 30px;
  }

  .review-submit-btn {
    padding: 10px 20px;
    font-size: 20px;
  }
}