.genresPage {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1300px;
  width: 1912px;
}

.genresPageContainer {
  /* height: auto; */
  margin-left: -47px;
  position: relative;
  width: 100%;
}

/* header */
.header {
background-color: var(--black);
height: 130px;
top:0px;
left: 47px;
position: absolute;
width: 1920px;
}

.headerLogo {
height: 87px;
left: 20px;
object-fit: cover;
position: absolute;
top: 24px;
width: 190px;
}

.homeText{
cursor: pointer;
left: 298px;
letter-spacing: 0;
position: absolute;
top: 43px;
transition: all 0.2s ease;
width: 111px;
}

.clickable{
cursor: pointer;
}

.loginIcon {
height: 40px;
left: 1750px;
position: absolute;
top: 37px;
width: 44px;
}

.loginText {
left: 1750px;
letter-spacing: 0;
line-height: 16px;
position: absolute;
top: 79px;
white-space: nowrap;
width: 52px;
}

.registerIcon {
height: 40px;
left: 1837px;
position: absolute;
top: 36px;
width: 44px;
}


.registerText {
left: 1830px;
letter-spacing: 0;
line-height: 16px;
position: absolute;
top: 80px;
white-space: nowrap;
width: 75px;
}


.genreBody {
background-color: var(--eerie-black);
height: 10100px;
left: 47px;
position:absolute;
top: 130px;
width: 1920px;
}

.genreTitle {
color: var(--white);
font-family: var(--font-family-neuton);
font-size: 80px;
font-weight: 400;
text-decoration-line: underline;
text-decoration-color: var(--cardinal);
text-decoration-thickness: 5px;
text-underline-offset: 5px;
border-radius: 6px;
display: flex;
}

.goToGenreTypePage{
  /* cursor: pointer;
  transition: all 0.2s ease;
  position: absolute;
  margin-top: 100px ;
  display:block;
float:left;
margin:10px 5px;
text-align:center;  
padding:20px; */
margin-top: 50px;
height: auto;
}


.goToGenreTypePage:hover,
.viewMoreButton:hover{
  transform: translate(0, -5px);

}


.genresExpandMoviesRight {
  cursor: pointer;
  height: 67px;
  left: 1860px;
  position: absolute;
  top: 435px;
  transition: all 0.2s ease;
  width: 51px;  
}

.genresExpandMoviesLeft {
  cursor: pointer;
  height: 85px;
  left: 95px;
  position: absolute;
  top: 419px;
  transition: all 0.2s ease;
  width: 51px;  

}

.genresExpandMoviesRight:hover,
.genresExpandMoviesLeft:hover {
transform: scale(1.1);
}


.arrowIcon {
  transition: all 0.2s ease;
}

.genreTitle:hover .arrowIcon{
color: var(--cardinal);
}

.genresfooterLogo {
  height: 139px;
  object-fit: cover;
  width: 410px;
}

.movies{
top:0px;
position: absolute;
}

.Movie4{
  left: 172px; 
  cursor: pointer;
  position: relative;
  top: 360px;
}

.Movie3{
  cursor: pointer;
  left: 630px; 
  position: relative;
  top: 345px;
}

.Movie2{
  cursor: pointer;
  left: 1070px; 
  position: relative;
  top: 330px;
}

.Movie1{
  cursor: pointer;
  left: 1510px; 
  position: relative;
  top: 310px;
}

.Movie1:hover,
.Movie2:hover,
.Movie3:hover,
.Movie4:hover
{
transform: translate(0, -5px);
}

.genresMoviePoster1 {
  height: 209px;
  left: 0px; 
  position: absolute;
  top: 0px;
  width: 332px;
}


.genresMovieName1 {
  left: 40px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 162px;
  white-space: nowrap;
  width: 456px;
}

.genresRating1 {
  left: 60px;
  letter-spacing: 0.36px;
  position: absolute;
  text-align: right;
  top: 135px;
  transform: rotate(-0.94deg);
  width: 32px;
}

.genresMoviePoster2 {
  position: absolute;
  height: 209px;
  left: 0px;
  top: 0px;
  width: 332px;
}

.genresMovieName2 {
  left: 588px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 516px;
  white-space: nowrap;
  width: 456px;
}

.genresRating2 {
  left: 614px;
  letter-spacing: 0.36px;
  position: absolute;
  text-align: right;
  top: 487px;
  transform: rotate(-0.94deg);
  width: 32px;
}

.genresMoviePoster3 {
  height: 209px;
  left: 1018px;
  position: absolute;
  top: 354px;
  width: 332px;
}


.genresMovieName3{
  left: 1068px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 516px;
  white-space: nowrap;
  width: 456px;
}

.genresRating3 {
  left: 1096px;
  letter-spacing: 0.36px;
  position: absolute;
  text-align: right;
  top: 487px;
  transform: rotate(-0.94deg);
  width: 32px;
}

.genresMoviePoster4 {
  height: 209px;
  left: 1524px;
  position: absolute;
  top: 354px;
  width: 332px;
}

.genresMovieName4 {
  left: 1567px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 516px;
  white-space: nowrap;
  width: 456px;
}

.genresRating4 {
  left: 1596px;
  letter-spacing: 0.36px;
  position: absolute;
  text-align: right;
  top: 488px;
  transform: rotate(-0.94deg);
  width: 32px;
}

.genresGenreType1 {
  background-color: var(--white-2);
  border-radius: 6px;
  height: 21px;
  left: 40px;
  position: relative;
  top: 120px;
  width: 113px;
}

.genresGenreTypeText1 {
  padding: 3px 10px ;
  line-height: 16px;
  position: absolute;
  white-space: nowrap;
}

.genresGenreType2 {
  background-color: var(--white-2);
  border-radius: 6px;
  height: 21px;
  left: 588px;
  position: absolute;
  top: 470px;
  width: 113px;
}

.genresGenreTypeText2 {
  left: 601px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 473px;
  white-space: nowrap;
}

.genresGenreType3 {
  background-color: var(--white-2);
  border-radius: 6px;
  height: 21px;
  left: 1056px;
  position: absolute;
  top: 470px;
  width: 113px;
}

.genresGenreTypeText3 {
  left: 1069px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 473px;
  white-space: nowrap;
}

.genresGenreType4 {
  background-color: var(--white-2);
  border-radius: 6px;
  height: 21px;
  left: 1567px;
  position: absolute;
  top: 470px;
  width: 113px;
}

.genresGenreTypeText4 {
  left: 1580px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 473px;
  white-space: nowrap;
}

.genresStar1 {
  height: 20px;
  left: 50px;
  position: absolute;
  top: 145px;
  width: 20px;
}

.genresStar2 {
  height: 20px;
  left: 604px;
  position: absolute;
  top: 499px;
  width: 20px;
}

.genresStar3 {
  height: 20px;
  left: 1087px;
  position: absolute;
  top: 499px;
  width: 20px;
}

.genresStar4 {
  height: 20px;
  left: 1589px;
  position: absolute;
  top: 499px;
  width: 20px;
}

/* .genresfooter {
  background-color: var(--black);
  height: 293px;
  width: 1920px;
} */

.genresfooterText1 {
  color: var(--white);
  font-family: var(--font-family-neuton);
  font-size: var(--font-size-xl2);
  font-weight: 700;
  letter-spacing: 0;
}

.genresfooterText2 {
  letter-spacing: 0;
  width: 344px;
}


 .Movie8{
  cursor: pointer;
  left: 1530px; 
  position: relative;
  top: 700px;
}
.Movie7{
  cursor: pointer;
  left: 1070px; 
  position: relative;
  top: 700px;
}
.Movie6{
  cursor: pointer;
  left: 590px; 
  position: relative;
  top: 700px;
}
.Movie5{
  cursor: pointer;
  left: 10px; 
  position: relative;
  top: 700px;
}

.genreMovies{
left: 180px;
position:absolute;
top: 120px;
width: 1690px;
height: auto;
}  

.owl-theme2 .owl-dots   {
    /* background-color: blue; */
    display: flex;   
    align-self: center;
    justify-content: center;
    align-content: center;
    display: none;

    /* width: 10px; */
    /* height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    border-radius: 30px; */
}
.owl-theme2 .owl-dots  [className='owl-dot'],
.owl-theme2 .owl-dots .owl-dot:hover .span {
  background: #fd3c3d;
}

.owl-theme2 .owl-nav [className='reviewsExpandRight']  {
    position: absolute;
    left: 1680px;
    top: 130px;  
    color: #d41c24;

}

.owl-theme2 .owl-nav [className='reviewsExpandLeft']  {
  position: absolute;
  left: -70px;
  top: 120px;  
  color: #d41c24;
}

.owl-theme2 .owl-nav [className='reviewsExpandRight']:hover,
.owl-theme2 .owl-nav [className='reviewsExpandLeft']:hover{
background-color: var(--shark);
transform: scale(2);
}

.genreMoviePoster{
  width: 240px;
  height: 400px;
  border-radius: 10px;
}
.ho{
width: 240px;
height: 400px;
border-radius: 10px;
}
.genreMovieContainer{
  color:white;
  background-color: var(--shark);
  border-radius: 10px;
  cursor: pointer;
  min-height: 540px; 
  left: 0px;
  transition: all 0.2s ease;
  width: 310px;
  /* padding: 0px 50px; */
  display: flex;
  position: relative;
   /* margin-left: 80px; */
  /* padding-bottom: 50px;  */
}

.genreMovieName{
  letter-spacing: 0;
  text-shadow: 0px 4px 4px #00000040;
  top: 450px;
  left:0px;
  position: absolute;
  /* text-align: justify; */
  margin-top:20px;
  overflow-wrap: break-word;
  width:300px;
  padding-left: 20px;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.genreMovieRating{
letter-spacing: 0;
text-shadow: 0px 4px 4px #00000040;
top: 403px;
left: 52px;
position: absolute;
/* text-align: justify; */
margin-top:20px;
overflow-wrap: break-word;
width:300px;
padding-left: 20px;
}

.genreStar{
top: 420px;
position: absolute;
display: flex;
height: 50px;
width: 40px;
padding: 6.9px 7.0px;
position: absolute;
transition: all 0.2s ease;
left: -110px;
}

.genreStar:hover {
transform: scale(1.1);
}


.genreTypeMovies{
height: auto;
padding-top: 30px;
}

.viewMoreButton{
  cursor: pointer;
  transition: all 0.2s ease;
  /* align-items: flex-start; */
  background-color: var(--cardinal);
  border-radius: 10px;
  /* display: flex; */
  height: 65px;
  width: 230px;
  border-width: 0px;
  margin-top: 50px;
  /* padding: 8px 30px; */
  /* padding-left: 0px; */
  /* padding-top: 0px;  */
  /* align-items:center; */
  /* text-align: center; */
}
