.watch-list-box {
  position: relative;
}

.watch-list {
  color: var(--cardinal);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 4px;
}

.watch-list:hover {
  color: red;
}

.emptyWatchList{
  margin-bottom: 200px;
}

@media only screen and (max-width: 480px) {
  .watch-list svg {
    margin-top: 15px;
    width:50px;
    margin-left: 1.5px;
  }
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 350px) {

}
