.forget-section {
  background: url(../../static/img/backgroundImage.png) center center no-repeat;
  background-size: cover;
  height: 100vh;
}

.resend-email {
  color: var(--white);
  margin-top: 10px;
  color: var(--white);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-l);
}
.resend-text {
  color: #b62b2b;
  font-weight: 700;
  text-decoration: underline !important;
  text-decoration-color: var(--cardinal);
}
.login-input {
  margin-bottom: 0 !important;
}
.forget-error {
  color: var(--cardinal);
  font-weight: bold;
  /* position: absolute;
  bottom: -50px;
  left: 0; */
  margin-top: 10px;
  margin-left: 20px;
}
