.customconfirmAlert {
  background-color: var(--eerie-black);
  border-radius: 10px;
  padding: 40px;
  color: var(--baby-powder);
  width: 100%;
  font-size: 12px;
  align-items: center;
  align-self: auto;
  margin: auto;
}

.customconfirmAlert h1 {
  font-size: 25px;
}

.customconfirmAlert h5 {
  font-size: 20px;
}

.customconfirmAlert button {
  margin-right: 10px;
}

.noButton,
.yesButton {
  background-color: var(--cardinal);
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 15px;
  margin-top: 30px;
  border: none;
  color: white;
  font-size: 150%;
  font-weight: 500;
}

.closeButton{
  margin-left: 98%;
  top: -15px;
  position: relative;
  background: none;
  color: var(--cardinal);
  border: none;
}

.moviePosterBox {
  position: relative;
}
.movieInfoPosterImg {
  width: 350px !important;
  height: 400px;
}

.watchListHoverText{
  padding: 2px;
}

.addBookMark{
  background: none !important;
  position: absolute;
  top: 0;
  left: -11px;
  border: none;
}

.BookMarkCheck{
  color: var(--baby-powder);
  position: absolute;
  top: 18px;
  left: 12px;
  border: none;
  background: none;
  z-index: 2;
}

.bookMarkPlus{
  position: absolute;
  top: 12px;
  left: 7px;
  color: var(--baby-powder);
  border: none;
  background: none;
  z-index: 2;
}

.trailer {
  transition: all 0.2s ease;
  background-color: var(--cardinal);
  border-radius: 10px;
  padding: 10px 20px;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl5);
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  margin-left: 22px;
}

.trailerContainer:hover,
.edit-movie-btn:hover,
.delete-movie-btn:hover {
  transform: translate(0, -5px);
}

.title {
  color: #fbfbfb;
  font-family: var(--font-family-roboto);
  font-size: 60px;
  font-weight: 700;
  text-shadow: 0px 4px 4px #00000040;
}
.year {
  color: #fbfbfb;
  font-family: var(--font-family-roboto);
  font-size: 30px;
  font-weight: 500;
  opacity: 0.9;
}

.pg {
  border: 3px solid var(--cardinal);
  border-radius: 50%;
  min-height: 50px;
  min-width: 50px;
}

.moviepg {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
}

.time {
  border-left: 1px solid #fff;
  padding-left: 20px;
}

.movieDesCription {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
  text-align: justify;
}

.movieInformationSection {
  position: relative;
  padding-left: 5% !important;
  padding-right: 10% !important;
}
.rating-box {
  background: #202125;
  border-radius: 20px;
}

.ratingBox {
  position: absolute;
  top: 15%;
  right: 10%;
  width: 270px !important;
}

.addRating {
  background-color: var(--shark);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 1;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.addRating:hover {
  transform: translate(0, -5px);
  background-color: #35373b;
}

.rateItText {
  font-weight: 700;
  text-shadow: 0px 4px 4px #00000040;
}

.rating-css {
  direction: rtl;
}

.rating-css div {
  color: var(--shark);
}
.rating-css label:hover ~ label {
  color: var(--cardinal);
}

.rating-css label:hover {
  color: var(--cardinal);
}
.rating-css input {
  display: none;
}

.rating-css input + label {
  font-size: 35px;
  cursor: pointer;
  margin-left: 5px;
}

.rating-css input + label ~ label {
  color: var(--pink-swan);
}

.rating-css label {
  color: var(--pink-swan);
}

.removeRating {
  color: var(--cardinal);
  text-decoration: underline;
  text-decoration-color: var(--cardinal);
  background-color: var(--eerie-black);
  border: none;
  z-index: 1;
}

.edit-delete-btn {
  position: absolute !important;
  top: 20%;
  right: 5%;
}

.edit-movie-btn {
  transition: all 0.2s ease;
  background-color: var(--cardinal);
  border-radius: 10px;
  padding: 10px 20px;
  color: var(--white) !important;
  font-family: var(--font-family-roboto);
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border: none;
}
.edit-movie-btn a {
  color: var(--white);
}

.delete-movie-btn {
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: var(--cardinal);
  border-radius: 10px;
  padding: 10px 20px;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border: none;
}
.edit-movie-btn:hover,
.delete-movie-btn:hover {
  color: var(--white) !important;
}

.movieCinemaReleaseDate {
  display: flex;
  gap: 15px;
}

.vox {
  left: 210px;
  top: 2230px;
  position: absolute;
  white-space: nowrap;
  z-index: 10;
}

.voxLogo {
  left: 15px;
  top: 35px;
  position: absolute;
  white-space: nowrap;
  z-index: 10;
}

.amcLogo {
  left: 15px;
  top: 14px;
  position: absolute;
  white-space: nowrap;
  z-index: 10;
}

.muviLogo {
  left: 15px;
  top: 24px;
  position: absolute;
  white-space: nowrap;
  z-index: 10;
}

/* topCast */

.top-cast-box {
  height: 380px !important;
}

.cast {
  background: #1f2125;
  border-radius: 20px;
  width: 370px !important;
  height: 100%;
}
.cast img {
  border-radius: 10px;
  width: 100% !important;
  height: 300px !important;
}
.castName {
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.castRole {
  text-shadow: 0px 4px 4px #00000040;
  margin-top: 10px;
}

/* book ticket  */
.bookingBox {
  position: relative;
}
.cinema-des {
  position: absolute;
  top: 30%;
  left: -18%;
  right: 0;
  text-align: center;
  width: 100% !important;
  margin: auto;
  padding: 0 0 0 25px;
}

.cinemaLocationName {
  color: var(--black);
  font-family: var(--font-family-neuton);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  word-break: break-word;
  margin: auto;
  text-align: center;
}
.cityName {
  color: var(--black);
  font-family: var(--font-family-neuton);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}

.cenima-show-time {
  background-color: var(--cardinal);
  color: var(--white) !important;
  font-family: var(--font-family-roboto);
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s ease;
  border-radius: 10px;
  margin: auto;
  position: absolute;
  top: 69%;
  left: 45px;
  padding: 5px 10px !important;
}

.cenima-show-time:hover {
  transform: translate(0, -5px);
}

.movieInfoBox {
  color: white;
  border-radius: 10px;
}
.movie-info-poster {
  border-radius: 10px;
}
.movie-ticket {
  margin: 0 !important;
  width: 90% !important;
}
/* review */

.addReviewBtn {
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 20px;
  color: var(--white) !important;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl5);
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.addReviewBtn .reviewIcon {
  color: var(--cardinal);
}

.infoMovie {
  color: white;
  background-color: var(--shark);
  border-radius: 10px;
  cursor: pointer;
  width: 300px !important;
  height: 100%;
  transition: all 0.2s ease;
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.infoMoviePosterCarousel {
  width: 100% !important;
  height: 250px !important;
  border-radius: 10px;
}

.infoMovieRating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.infoMovieRating h4 {
  text-shadow: 0px 4px 4px #00000040;
}

.infoMovieName {
  text-shadow: 0px 4px 4px #00000040;
  margin-top: 10px;
  overflow-wrap: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.infoMovieRating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-review-box {
  color: white;
  background-color: var(--shark);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 50px;
}

.user-review-container {
  color: white;
  background-color: var(--shark);
  border-radius: 10px;
  height: 280px;
  transition: all 0.2s ease;
  width: 90% !important;
}

.review-section .slick-slide {
  margin-right: 20px;
}
.reviewer-username {
  font-weight: 700px;
  color: white;
  transition: all 0.2s ease;
}
.userUsername {
  margin-left: 10px;
  font-size: 20px !important;
  word-break: break-all;
}

.delete-review-icon {
  color: var(--cardinal);
  background-color: var(--shark);
  border: none;
}
.user-review {
  padding: 0px 30px;
  text-align: center;
  font-size: 20px;
  width: 100% !important;
  overflow-wrap: break-word;
  max-height: 150px;
  overflow-y: auto;
}

.totalUsersRating {
  font-size: 18px;
  color: #fbfbfb;
  font-family: var(--font-family-roboto);
  font-weight: 400;
  opacity: 0.9;
}

.section-title {
  font-family: neuton;
  text-decoration: underline;
  text-decoration-color: var(--cardinal);
  text-decoration-thickness: 2.5px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: darkgrey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--baby-powder);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--cardinal);
}

.filterBookTicket {
  width: 160px;
  margin-top: 20px;
}

.movieInfoTitle{
  font-size: 24px;
}

.movieInfoValue{
  font-size: 20px;
}

.reviewItText{
  font-size: 25px;
}

@media only screen and (max-width: 992px) {
  .movieInformationSection {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .rating-box h3 {
    font-size: 28px;
  }
  .rating-box h5 {
    font-size: 24px;
  }
  .rating-box span {
    font-size: 20px;
  }
  .ratingBox {
    position: relative;
    left: 5%;
    padding: 10px;
    width: 300px !important;
    margin: auto;
    margin-top: 20px;
  }
  .cenima-show-time {
    left: 65px;
    font-size: 20px;
  }
  .trailer {
    font-size: 20px;
    padding: 5px 10px;
  }
  .addBookMark {
    top: 0;
    left: -7px;
  }
  .userUsername {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 40px;
  }
  .year {
    font-size: 24px;
  }
  .ratingBox {
    padding: 10px;
    width: 300px !important;
    margin: auto;
    margin-top: 20px;
  }
  .edit-delete-btn {
    position: inherit !important;
    justify-content: center;
  }
  .addRating {
    margin-top: inherit;
  }
  .star-icon {
    font-size: 20px !important;
  }
  .rateItText {
    font-size: 30px;
  }
  .cenima-show-time {
    left: 70px;
    font-size: 20px;
  }
  .addBookMark{
    top: 0;
    left: -11px !important;
  }
  .movie-info-poster {
    height: 250px !important;
  }

  .bookMarkPlus svg{
    width: 30px !important;
    height: 30px !important;
  }

  .bookMarkPlus{
    left: 0px;
    top: 5px;
  }
  
  .BookMarkCheck svg{
  width: 25px !important;
  height: 25px !important;
}

  .BookMarkCheck{
    left: 2px !important;
    top: 7px;
  }

  .trailer {
    margin-left: 2px;
  }
  .amcLogo img {
    width: 105px !important;
    height: auto;
  }
  .amcLogo {
    left: 18px;
    top: 20px;
  }
  .muviLogo img {
    width: 100px !important;
    height: auto;
  }
  .muviLogo {
    left: 20px;
    top: 30px;
  }
  .voxLogo {
    left: 20px;
    top: 40px;
  }
  .voxLogo img {
    width: 110px !important;
    height: auto;
  }
  .cinemaLocationName {
    font-size: 25px !important;
  }
  .cityName {
    font-size: 35px !important;
  }
  .castName {
    font-size: 15px;
  }
  .castRole {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .title {
    font-size: 30px;
  }
  .year {
    font-size: 20px;
  }
  .ratingBox {
    width: 250px !important;
    left: 0%;
  }
  .star-icon {
    font-size: 16px !important;
  }
  .rateItText {
    font-size: 24px;
  }
  .addBookMark{
    top: 0;
    left: -5px !important;
  }

  .bookMarkPlus svg{
    width: 30px !important;
    height: 30px !important;
  }

  .bookMarkPlus{
    left: 5px;
    top: 5px;
  }
  
  .BookMarkCheck svg{
  width: 25px !important;
  height: 25px !important;
}

  .BookMarkCheck{
    left: 8px !important;
    top: 7px;
  }
  .release-date {
    font-size: 20px !important;
  }
  .amcLogo img {
    width: 65px !important;
    height: auto;
  }
  .amcLogo {
    left: 10px;
    top: 15px;
  }
  .muviLogo img {
    width: 60px !important;
    height: auto;
  }
  .muviLogo {
    left: 10px;
    top: 20px;
  }
  .voxLogo {
    left: 15px;
    top: 25px;
  }
  .voxLogo img {
    width: 60px !important;
    height: auto;
  }
  .cinema-des {
    top: 30%;
    left: -25%;
    font-size: 5px;
  }
  .cinemaLocationName {
    font-size: 13px !important;
  }
  .cityName {
    font-size: 17px !important;
  }
  .cenima-show-time {
    font-size: 15px !important;
    left: 35px;
  }
  .cenima-show-time svg {
    width: 15px !important;
    height: 15px !important;
  }

  .edit-movie-btn {
    padding: 10px;
    font-size: 16px !important;
  }

  .delete-movie-btn {
    padding: 10px;
    font-size: 16px !important;
  }
  .edit-delete-btn svg,
  .delete-movie-btn svg {
    width: 20px !important;
    height: 20px !important;
  }

  .movieInfoValue,
  .moviepg,
  .movieTime {
    font-size: 15px !important;
  }
  
  .reviewItText{
    font-size: 20px;
  }

  .pg {
    min-height: 40px;
    min-width: 40px;
  }
  .releaseDateLogo {
    width: 35%;
  }
  .reviewIcon {
    width: 20px;
  }
  .deleteIcon {
    width: 25px;
  }
  .reviewer-username-icon {
    width: 30px;
  }
  .user-review {
    font-size: 15px;
  }
  .trailer {
    margin-left: 10px;
  }
  .customconfirmAlert h1 {
    font-size: 20px;
  }

  .customconfirmAlert h5 {
    font-size: 15px;
  }

  .customconfirmAlert {
    font-size: 10px;
    padding: 20px;
  }

  .movieInfoTitle{
    font-size: 20px;
  }
  
  .movieInfoValue{
    font-size: 15px;
  }

  .reviewItText{
    font-size: 20px;
  }
  
  .closeButton{
    margin-left: 90%;
    top: -2px;
    margin-bottom: 5px; 
  }
}

@media only screen and (max-width: 400px) {
  .cenima-show-time {
    left: 35px;
    font-size: 10px !important;
  }
  .cinemaLocationName {
    font-size: 12px !important;
  }
  .cityName {
    font-size: 15px !important;
  }
  .amcLogo img {
    width: 50px !important;
    height: auto;
  }
  .amcLogo {
    left: 8px;
    top: 12px;
  }
  .muviLogo img {
    width: 40px !important;
    height: auto;
  }
  .muviLogo {
    left: 8px;
    top: 15px;
  }
  .voxLogo {
    left: 10px;
    top: 20px;
  }
  .voxLogo img {
    width: 40px !important;
    height: auto;
  }
  .cinemaLocationName {
    font-size: 10px !important;
  }
  .cityName {
    font-size: 15px !important;
  }
  .movieInfoTitle{
    font-size: 20px;
  }
  
  .movieInfoValue{
    font-size: 15px;
  }

  .reviewItText{
    font-size: 20px;
  }
}

@media only screen and (max-width: 350px) {
  .cenima-show-time {
    left: 25px;
    font-size: 10px !important;
  }
  .cinemaLocationName {
    font-size: 9px !important;
  }
  .cityName {
    font-size: 12px !important;
  }

  .movieInfoTitle{
    font-size: 20px;
  }
  
  .movieInfoValue{
    font-size: 15px;
  }

  .reviewItText{
    font-size: 20px;
  }
  
}
